<html>
    <head>
        <style>
            body{
                min-height: 100%;
            background-image: url("https://wallpapers.com/images/high/bare-light-green-plain-ccgwylr7jtzskkh4.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            align-items: center;
            text-align: center;
            justify-content: center;
            }
        </style>
    </head>
    <body>
        <div class="popup">
            <h1>Dear envirovista user please help us developing our website by giving us review.</h1> <br><br>
            <i class="fa-regular fa-face-smile" style="font-size: 30px;"></i>
            <label for="sa" style="font-size: 35px;">Satisfied</label>
            <input type="radio" name="rr" value="5" id="sa" style="height: 25px; width: 25px;"><br><br><br>
            <i class="fa-regular fa-face-angry" style="font-size: 30px;"></i>
            <label for="nsa" style="font-size: 35px;">Notsatisfied</label>
            <input type="radio" name="rr" value="4" id="nsa" style="height: 25px; width: 20px;"><br><br><br>
            <i class="fa-regular fa-face-frown" style="font-size: 30px;"></i>
            <label for="dis" style="font-size: 35px;">Dissatisfied</label>
            <input type="radio" name="rr" value="3" id="dis" style="height: 25px; width: 20px;"><br><br>
            <br>
            <button onclick="setTimeout(()=>{
                window.close();
            },500)" >SUBMIT</button>
            <button onclick="setTimeout(()=>{
                window.close();
            },500)">SKIP</button>
            </div>
            <script>
            </script>
    </body>
</html>